# ============================================
# JATHNIEL-WEB-CRAWLER-PRO v5.1
# Crawler + DB Extractor
# ============================================

# HTTP
requests>=2.31.0
urllib3>=2.1.0
certifi>=2023.11.17

# Parsing HTML
beautifulsoup4>=4.12.0
lxml>=5.0.0

# MongoDB extraction
pymongo>=4.6.0

# DNS (subdomain enum)
dnspython>=2.4.0